html {
  font-family: "Montserrat";
}
body {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading-title {
  font-size: 3.5rem;
  line-height: 1.5;
}
.med-heading-testimonials {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.med-heading-features {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.med-heading-pricing {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.sm-heading-features {
  font-size: 1.5rem;
  font-weight: 700;
}
.sm-heading-cta {
  font-size: 2rem;
  font-weight: 700;
}
.sm-heading-pricing {
  font-size: 1.5rem;
  font-weight: 700;
}

.container-fluid {
  padding: 7% 15%;
}

.p-features{
    font-size: 1.25rem;
}
.p-pricing{
    font-size: 1.25rem;
}

.color-section{
    background-color:#ff4c68;
    color: #fff;
}
.secondary-color-section{
    background-color:#ef8172;
}
.white-section{
    background-color: #fff;
}

/* Nav Bar */

/* Title image */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 20%;
}



.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}



/* Features */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial section */


.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
}
.card {
  height: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2%;
}

.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1080px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
/* CTA */
.media-icon {
  font-size: 2rem;
  margin: 20px;
}
